body {
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin: 0;
}

.header {
    background-color: #1f2937;
    align-content: center;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 45px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.header h1 {
    flex: 1;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: #3882f6;
    transform: translate(2px)
    display: block;
    transition: all 0.3s ease-out;
}

.hero {
    padding: 10% 0px;
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    gap: 60px;
}

.hero-inner img {
    max-height: 400px;
    border-radius: 10px;
}

.hero-info h1 {
    margin:0;
    padding:0;
    font-size:48px;
    font-weight: 900;
}

.hero-info p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.hero-info a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
    background-color: #3882f6;
    padding: 12px 20px;
    border-radius: 8px;
}

.content {
    padding: 60px 0 0 0;
}

.content h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 60px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}

.card img{
    max-width: 200px;
    border-radius: 8px;
    border: solid;
    border-color: #3882f6;
}

.card p{
    max-width: 200px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.cta {

    padding: 60px 45px;
}

.inner-cta a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    background-color: #3882f6;
    padding: 6px 20px;
    border-radius: 8px;
    border: solid;
    border-color: #f1f6ff;
    border-width: 2px;
}

.inner-cta {
    color: white;
    display: flex;
    max-width: 1240px;
    border-radius: 10px;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    margin-left: auto;
    margin-right:auto;
}

.cta-text {
    max-width: 400px;
}

.cta-text p {
    margin: 0;
    padding: 0;
}

.cta-text h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.blockquote {
    background-color: #f1f6ff;
    padding: 50px 0;

}

.blockquote p:last-child {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 800;
}

.blockquote p:first-child {
    max-width: 1240px;
    display: flex;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    line-height: 46px;
    text-align: justify;

}

.blockquote-inner {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: #1f2937;
    color:#f1f6ff;
    padding: 20px 0;
}

.footer > * {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}